#tabletitle{
	font-size: 50px;
	font-family: 'calibri';
	color:rgb(102, 148, 102);
	text-align: center;
	height: 100px;
}

#tableticket{
	font-size: 20px;
	font-family: 'calibri';
	background-color:grey;
	color:white;
	font-weight: bold;
	text-align: left;
}


.rowname{
	font-size: 20px;
	font-family: 'calibri';
	font-weight: bold;
	text-align: right;
	padding: 8px;
}

.inputtitle{
	width: 1000px !important;
	margin: 10px;
}
.inputplatform{
	width: 1000px !important;
	margin: 10px;
}
