#tableticket{
	font-size: 20px;
	font-family: 'calibri';
	background-color:rgb(169,169,169);
	color:white;
	font-weight: bold;
	text-align: left;
}

.outageholiday{
	color:rgb(51, 153, 255);
}

.emergencyseverity{
	color:rgb(255, 0, 0);
}

.Completed{
	color:rgb(76, 153, 0);
}
.Resolved{
	color:rgb(76, 153, 0);
}
.rowname{
	font-size: 20px;
	font-family: 'calibri';
	font-weight: bold;
	text-align: right;
	padding: 8px;
}

.inputtitle{
	width: 860px !important;
	margin: 10px;
}
.inputplatform{
	width: 860px !important;
	margin: 10px;
}
.inputfields{
	width:200px !important;
	margin: 10px;
}
